<configuration>

  <springProperty name="rootLevel" source="skill.logging.rootlevel" />
  <springProperty name="appLevel" source="skill.logging.appLevel" />
  <springProperty name="cdsLevel" source="skill.logging.cdsLevel" />
  <springProperty name="cfLevel" source="skill.logging.cflevel" />
  <springProperty name="appender" source="skill.logging.appender" />

  <!-- log JSON strings to STDOUT for Cloud Foundry -->
  <appender name="STDOUT-JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="com.sap.hcp.cf.logback.encoder.JsonEncoder" />
  </appender>

  <!-- human readable output for local development -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date %-5level [%thread] [%marker] - [%logger{40}] - %msg%n
      </pattern>
      <!-- log full logger name and mdc
      <pattern>%date %-5level [%thread] [%marker] - [%logger] [%mdc] - %msg%n
      </pattern>
       -->
    </encoder>
  </appender>

  <!-- human readable output for OPA5 tests (reduced logs) -->
  <appender name="STDOUT-OPA" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-5level [%thread] [%marker] - [%logger{40}] - %msg%n
      </pattern>
    </encoder>
  </appender>

  <root level="${rootLevel:-ERROR}">
    <appender-ref ref="${appender:-STDOUT-JSON}" />
  </root>

  <logger name="com.sap.c4p.rm.skill" level="${appLevel:-INFO}" />

  <logger name="com.sap.cds" level="${cdsLevel:-INFO}" />

  <!-- log request details provided by RequestLoggingFilter -->
  <logger name="com.sap.hcp.cf" level="${cfLevel:-INFO}" />

</configuration>
