{
    "SUPA_AUTOMATES_LANDSCAPE": "sap",
    "SUPA_AUTOMATES_SPACE_GUID": "",
    "SUPA_AUTOMATES_WARMUP_CYCLES": "",
    "SUPA_AUTOMATES_MEASUREMENT_CYCLES": "",
    "SUPA_AUTOMATES_APP_NAME": "resourceRequest-srv",
    "SUPA_AUTOMATES_APP_URL": "",
    "ENV_USER_PROJECTMANAGER_SUPA": "",
    "ENV_PASSWORD_PROJECTMANAGER_SUPA": "",
    "ENV_USER_RESOURCEMANAGER_SUPA": "",
    "ENV_PASSWORD_RESOURCEMANAGER_SUPA": "",
    "SUPA_AUTOMATES_APP_TO_MEASURE": "",
    "SUPA_AUTOMATES_APP_IDP_HOST": "axtubdeog.accounts400.ondemand.com"
    "ENV_CF_USER": "",
    "ENV_CF_PASSWORD": "",
    "SUPA_AUTOMATES_DYNATRACE_TAG" : "",
    "ENV_DYNATRACE_TOKEN" : "",
    "ENV_HANA_USER_CANARY": "",
    "ENV_HANA_PASSWORD_CANARY": "",
    "SUPA_AUTOMATES_HANA_RT_USER" : "",
    "SUPA_AUTOMATES_HANA_SERVER" : "",
    "SUPA_AUTOMATES_SLEEP_TIME": "",
    "SUPA_AUTOMATES_IPA_PROJECT": "",
    "SUPA_AUTOMATES_IPA_VARIANT": "",
    "SUPA_AUTOMATES_IPA_COMMENT": "",
    "SUPA_AUTOMATES_IPA_RELEASE": "",
    "ENV_IPA_USER": "",
    "ENV_IPA_PASSWORD": ""
}
