gen/
.gen/
target/
dist/
_out
*.db
**/*/src/main/resources/edmx
*.mtar
*.jar
ui-deployer/resources
utils/localLaunchpad/webapp/ui
srv/src/main/resources/logback.xml
srv/src/main/resources/schema.sql
**/*/webapp/localService/metadata.xml

node_modules/
node/
tests/**/package-lock.json


.DS_Store
.che/

.cds_gen.log
javaw_*.log
hs_err_pid*.log
mta-op*

*.orig
*.iml
.mta
.vscode
.factorypath
.idea
.history
.settings
/srv/.project
mta-op*
/app/skill/webapp/localService/metadata.xml
/app/upload/webapp/localService/metadata.xml
/app/download/webapp/localService/metadata.xml
utils/localLaunchpad/java_backend/webapp
srv/src/main/resources/logback.xml
srv/src/main/resources/schema.sql
srv/local-test.db
.project
.classpath
Makefile*.mta
manifest.yml
default-env.json
.*_tmp
tests/cross-domain-e2e/data/small_skills_en.csv
tests/performance/data/generated-skills.csv
utils/*(generated).postman_environment.json
ui-content/*.zip
supa_server.log
.node-xmlhttprequest-sync-*
generated-skills*.csv
debug.log
supatemp*
skill-srv.ipr
skill-srv.iws
.npmrc
srv/skill-srv.ipr
srv/skill-srv.iws
