{
  "ENV_LANDSCAPE": "sap",
  "ENV_SPACE_GUID": "",
  "ENV_SRV_APP_NAME": "assignment-srv",
  "ENV_CF_USER": "",
  "ENV_CF_PASSWORD": "",
  "ENV_APP_USER_CONFIGURATIONEXPERT": "",
  "ENV_APP_PASSWORD_CONFIGURATIONEXPERT": "",
  "ENV_APP_USER_RESOURCEMANAGER_VALIANT": "",
  "ENV_APP_PASSWORD_RESOURCEMANAGER_VALIANT": "",
  "ENV_APP_USER_CONSULTANT": "",
  "ENV_APP_PASSWORD_CONSULTANT": "",
  "ENV_APP_USER_NOT_IN_DB_CONSULTANT": "",
  "ENV_APP_PASSWORD_NOT_IN_DB_CONSULTANT": "",
  "ENV_LOGIN_HINT_ORIGIN": "",
  "ENV_USER_PROJECTMANAGER": "",
  "ENV_PASSWORD_PROJECTMANAGER": "",
  "ENV_USER_RESOURCEMANAGER": "",
  "ENV_PASSWORD_RESOURCEMANAGER": "",
  "ENV_USER_AUTHATTRTESTUSER01": "",
  "ENV_PASSWORD_AUTHATTRTESTUSER01": "",
  "ENV_USER_AUTHATTRTESTUSER02": "",
  "ENV_PASSWORD_AUTHATTRTESTUSER02": ""
}
