{
    "SUPA_AUTOMATES_LANDSCAPE": "sap",
    "SUPA_AUTOMATES_SPACE_GUID": "",
    "SUPA_AUTOMATES_APP_NAME": "assignment-srv",
    "SUPA_AUTOMATES_CF_USER": "",
    "SUPA_AUTOMATES_CF_PASSWORD": "",
    "SUPA_TESTS_IDP_HOST": "axtubdeog.accounts400.ondemand.com"
}