{
  "DEMO_DATA_SETUP_LANDSCAPE": "sap",
  "DEMO_DATA_SETUP_SPACE_GUID": "",
  "DEMO_DATA_SETUP_TENANT_ID": "",
  "DEMO_DATA_SETUP_TENANT_SUBDOMAIN": "",
  "DEMO_DATA_SETUP_APP_NAME": "assignment-srv",
  "DEMO_DATA_SETUP_CF_USER": "",
  "DEMO_DATA_SETUP_CF_PASSWORD": "",
  "DEMO_DATA_SETUP_APP_USER_RESOURCEMANAGER": "",
  "DEMO_DATA_SETUP_APP_PASSWORD_RESOURCEMANAGER": "",
  "DEMO_DATA_SETUP_APP_USER_PROJECTMANAGER": "",
  "DEMO_DATA_SETUP_APP_PASSWORD_PROJECTMANAGER": "",
  "DEMO_DATA_SETUP_SYSTEM_VARIANT":"generic"
}
