registry=https://common.repositories.cloud.sap/artifactory/api/npm/build.releases.npm/
//common.repositories.cloud.sap/artifactory/api/npm/build.releases.npm/:_authToken=${ENV_ARTIFACTORY_AUTH_TOKEN}
//common.repositories.cloud.sap/artifactory/api/npm/build.releases.npm/:always-auth=true
