**/gen/
#**/db/csv/.csv
**/.gen/
**/.SQL/
**/node_modules/
**/node/
**/target/
**/*.db
**/.DS_Store
**/_out
**/.che/
**/.cds_gen.log
tests/**/package-lock.json
**/*.orig
**/.project
**/.vscode
**/src/main/resources/edmx
**/src/main/resources/logback.xml
**/.mta
**/*.mtar
**/dist/
**/ui-deployer/resources
**/*.jar
**/.iml
**/.classpath
**/.factorypath
**/.idea
**/.history
**/localLaunchpad/webapp/ui
**/localLaunchpad/java_backend/webapp
**/default-env.json
!/utils/localLaunchpad/default-env.json
#**/db/csv
**/.settings/
**/manifest.yml
**/manifest.yaml
**/connection.properties
**/localService/
**_mta_build_tmp/
**/Makefile*.mta
**/javaw_*.log
**/hs_err_pid*.log
**/mta-op*
# **/report*.json
**/src/main/resources/schema.sql
srv/.springBeans
srv/local-test.db
.prettierc
s4hana_pipeline
ui-content/*.zip
**/ui-integration/debug.log
app/**/test/ui/*
app/resourceRequestLibrary/webapp/utils/*
project-integration-adapter/project-integration-adapter.iml
srv/resourceRequest-srv.iml
Resource-Request.iml
.run/
