{
  "overrides": [
    {
      "files": [
        "webapp/**/*.js"
      ],
      "rules": {
        "indent": ["error", 2],
        "quotes": ["error", "double"],
        "object-curly-spacing": ["error", "always"],
        "array-bracket-newline": ["error", { "multiline": true }],
        "no-console": "off"
      }
    },
    {
      "files": [
        "webapp/test/**/*.js"
      ],
      "globals": {
        "QUnit": true
      }
    }
  ]
}
