{
    "ENV_LANDSCAPE": "",
    "ENV_SPACE_GUID": "",
    "ENV_TENANT_ID": "",
    "ENV_SRV_APP_NAME": "",
    "ENV_CF_USER": "",
    "ENV_CF_PASSWORD": "",
    "ENV_APPROUTER_URL": "",
    "ENV_APP_USER_CONFIGURATIONEXPERT": "",
    "ENV_APP_PASSWORD_CONFIGURATIONEXPERT": "",
    "ENV_APP_USER_PROJECTMANAGER": "",
    "ENV_APP_PASSWORD_PROJECTMANAGER": "",
    "ENV_APP_USER_CONSULTANT": "",
    "ENV_APP_PASSWORD_CONSULTANT": "",
    "ENV_USER_CONSULTANT3":"",
    "ENV_PASSWORD_CONSULTANT3":"",
    "ENV_APP_USER_RESOURCEMANAGER": "",
    "ENV_APP_PASSWORD_RESOURCEMANAGER": "",
    "ENV_IDP_HOST": "axtubdeog.accounts400.ondemand.com"
}
