**/gen/
**/.gen/
**/node_modules/
**/node/
**/target/
**/*.db
**/.DS_Store
**/_out
**/.che/
**/.cds_gen.log
tests/**/package-lock.json
**/*.orig
**/.project
**/.vscode
db/package-lock.json
**/src/main/resources/edmx
**/src/main/resources/logback.xml
**/.mta
**/*.mtar
**/dist/
**/ui-deployer/resources
**/*.jar
**/.iml
**/.classpath
**/.factorypath
**/.idea
**/.history
**/localLaunchpad/webapp/ui
**/localLaunchpad/java_backend/webapp
**/localLaunchpad/xs-app.json
**/default-env.json
**/mockserver/csv
**/.settings/
**/manifest.yml
**/connection.properties
**/localService/
**_mta_build_tmp/
**/Makefile*.mta
**/javaw_*.log
**/hs_err_pid*.log
**/mta-op*
db/undeploy.json
ui-content/*.zip
 
