{
  "ENV_LANDSCAPE": "sap",
  "ENV_SPACE_GUID": "",
  "ENV_SRV_APP_NAME": "resourceRequest-srv",
  "ENV_PROJECT_INTEGRATION_APP_NAME": "",
  "ENV_CF_USER": "",
  "ENV_CF_PASSWORD": "",
  "ENV_USER_PROJECTMANAGER": "",
  "ENV_PASSWORD_PROJECTMANAGER": "",
  "ENV_USER_RESOURCEMANAGER": "",
  "ENV_PASSWORD_RESOURCEMANAGER": "",
  "ENV_USER_CONFIGURATIONEXPERT": "",
  "ENV_PASSWORD_CONFIGURATIONEXPERT": "",
  "ENV_USER_PROJECTMANAGER_AUTHORIZED": "",
  "ENV_PASSWORD_PROJECTMANAGER_AUTHORIZED": "",
  "ENV_USER_RESOURCEMANAGER_AUTHORIZED": "",
  "ENV_PASSWORD_RESOURCEMANAGER_AUTHORIZED": "",
  "ENV_IDP_HOST": "",
  "ENV_API_GATEWAY_APP_NAME":"",
}
