{
  "SUPA_TESTS_LANDSCAPE": "sap",
  "SUPA_TESTS_SPACE_GUID": "4afb9130-a67c-46b9-a568-87c2100a521e",
  "SUPA_TESTS_SRV_APP_NAME": "skill-srv",
  "SUPA_TESTS_APPROUTER_URL": "https://rmdev-tenant-c4p-rm-test-perf-rm-approuter.internal.cfapps.sap.hana.ondemand.com",
  "SUPA_TESTS_CF_USER": "",
  "SUPA_TESTS_CF_PASSWORD": "",
  "SUPA_TESTS_APP_USER": "",
  "SUPA_TESTS_APP_PASSWORD": "",
  "SUPA_TESTS_WARMUP_CYCLES": "1",
  "SUPA_TESTS_MEASUREMENT_CYCLES": "1",
  "SUPA_TESTS_STOP_SLEEP_TIME": "12000",
  "SUPA_TESTS_IPA_PROJECT": "RM_SKILL_SUPA_AUTOMATION_TEST",
  "SUPA_TESTS_IPA_VARIANT": "MANUAL_TEST",
  "SUPA_TESTS_IPA_RELEASE": "NONE",
  "SUPA_TESTS_IPA_USER": "",
  "SUPA_TESTS_IPA_PASSWORD": "",
  "SUPA_TESTS_HANA_SERVER": "b1a2448f-0425-49b2-84f8-7921ec41b1e8.hana.canary-eu10.hanacloud.ondemand.com",
  "SUPA_TESTS_HANA_USER": "",
  "SUPA_TESTS_HANA_PASSWORD": "",
  "SUPA_TESTS_MONITORED_HANA_USER": "CBB070977F8C4AB3829523E680629790_D5LYHMACG4EXYWNFG6ARF2ZXH_RT",
  "SUPA_TESTS_DYNATRACE_API_TOKEN": "",
  "SUPA_TESTS_IDP_HOST": "axtubdeog.accounts400.ondemand.com"
}
