package-lock.json
Resource-Management.mtar
.mta
*.mtar
*.iml
.idea/
.cdx_lsp_server*.log
srv/.factorypath
.project
*/**/gen
node_modules/
node/
target/
package-lock.json
*.orig
.vscode
dist/
*.jar
*.classpath
.settings
ui_deployer/resources/