{
    "ENV_LANDSCAPE": "",
    "ENV_SPACE_GUID": "",
    "ENV_SRV_APP_NAME": "",
    "ENV_CF_USER": "",
    "ENV_CF_PASSWORD": "",
    "ENV_USER_CONFIGURATIONEXPERT": "",
    "ENV_PASSWORD_CONFIGURATIONEXPERT": "",
    "ENV_USER_PROJECTMANAGER": "",
    "ENV_PASSWORD_PROJECTMANAGER": "",
    "ENV_USER_RESOURCEMANAGEMENTADMINISTRATOR": "",
    "ENV_PASSWORD_RESOURCEMANAGEMENTADMINISTRATOR": "",
    "ENV_IDP_HOST": ""
}
